<section id="gallery">
    <div class="row">
        <div class="twelve columns collapsed">
            {{ page.content }}
            <ul class="work-filters">
                <li class="work-filter"><a class="filter selected" data-rel="">All</a></li>
                <li class="work-filter"><a class="filter" data-rel="commission">Commissions</a></li>
                <li class="work-filter"><a class="filter" data-rel="chicago">Chicago</a></li>
                <li class="work-filter"><a class="filter" data-rel="flowers">Flowers</a></li>
                <li class="work-filter"><a class="filter" data-rel="med">Mediterranean</a></li>
                <li class="work-filter"><a class="filter" data-rel="misc">misc</a></li>
            </ul>
            <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-quarters cf">
                {% for item in page.header.portfolio %}
                <div class="columns portfolio-item" data-rel="{{ item.tags }}">
                    <div class="item-wrap">
                        <a href="#modal-{{ loop.index }}" title="">
                            {{ page.media[item.img].cropZoom(250, 250).html() }}
                            <div class="overlay">
                                <div class="portfolio-item-meta">
                                    <h5>{{ item.title }}</h5>
                                    <p>{{ item.description }}</p>
                                </div>
                            </div>
                            <div class="link-icon"><i class="icon-plus"></i></div>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% for item in page.header.portfolio %}
        <div id="modal-{{ loop.index }}" class="popup-modal mfp-hide">
            <img class="scale-with-grid" src="{{ page.media[item.img].url }}" alt="" />
            <div class="description-box">
                <h4>{{ item.title }}</h4>
                <span class="categories"><i class="fa fa-tag"></i>{{ item.tags }}</span>
            </div>
            <div class="link-box">
                <a class="popup-modal-dismiss" style="float: right;">Close</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
